
<div class="container" >
    <div class="row" *ngIf="boostersOpened == 'no'">
        <div class="block col-md-4 center" style="height: 170px;" *ngFor="let set of data.sets | paginate: { itemsPerPage: 6, currentPage: page }">
            <div class="card" [ngClass]="{'btn': set.booster}" style="width: 20rem;  margin-top: 20px;">
                <div class="card-body" style="text-align: left;" (click)="set.booster && getBoosters(set.code)">
                  <h5 class="card-title">{{set.name}}</h5>
                  <p class="card-text">Bloco: {{set.block}}</p>
                  <p class="card-text">Data de lançamento: {{set.releaseDate}}</p>  
                </div>
            </div>
        </div>
        <pagination-controls class="pagination center"  (pageChange)="page = $event"></pagination-controls>
    </div>
    <div *ngIf="boostersOpened == 'loading'" class="d-flex spinnercenter" >
        <div class="spinner-border" role="status"  style="width: 3rem; height: 3rem;">
        </div>
        <span class="sr-only" style="padding-left: 10px;">Abrindo Boosters...</span>
    </div>
    <div class="row" *ngIf="boostersOpened == 'yes'">
        <div class="col-md-4 center" *ngFor="let card of boosterPack.slice(0,30) | paginate: { itemsPerPage: 6, currentPage: page }">
            <div class="card" style="width: 15rem; margin-top: 20px;">
                <img *ngIf="card.imageUrl" class="card-img-top" [src]= "card.imageUrl" alt="Card image cap">
                <div class="card-body row" style="text-align: left;">
                  <h5 class="card-title col-md-9">{{card.name}}</h5>
                  <img class="col-md-3" [src]= "getEnvironmentColor(card.colorIdentity)" style="max-width: 20%; max-height: 30px; margin-left: 12px;" >
                  <p class="card-text col-md-12" >Custo Mana: {{card.manaCost}}</p>
                  <p class="card-text col-md-12">{{card.text}}</p>  
                </div>
            </div>
        </div>
        <pagination-controls class="pagination center"  (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
